@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

  }
}
  .theme-dark {

    --nav-bg-color: #2c2c2c;
    --nav-bg-highlight: #f200f2;
    --nav-text-color: #ffffff;
    --nav-icon-color: #ffff00;
    --nav-bg-border: #00ffff;
    --nav-prof-text: #abcdef; 

  }

  .theme-light {

    --nav-bg-color: #ffffff;
    --nav-bg-highlight: #f200f2;
    --nav-text-color: #2c2c2c;
    --nav-icon-color: #00ffff;
    --nav-bg-border: #ffff00;
    --nav-prof-text: #123456; 

  }

  .theme-blue {

    --nav-bg-color: #15efff;
    --nav-bg-highlight: #0f0bfa;
    --nav-text-color: #ffffff;
    --nav-icon-color: #37fd83;
    --nav-bg-border: #00ffff;
    --nav-prof-text: #abcdef; 

  }

  .theme-highcontrast {

    --nav-bg-color: #2c2c2c;
    --nav-bg-highlight: #f200f2;
    --nav-text-color: #ffffff;
    --nav-icon-color: #ffff00;
    --nav-bg-border: #00ffff;
    --nav-prof-text: #abcdef; 

  }



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

